@font-face {
  font-display: swap;
  font-family: "Maza";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Maza-Regular.woff2") format("woff2"),
    url("../fonts/Maza-Regular.woff") format("woff"),
    url("../fonts/Maza-Regular.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TenorSans-Regular.woff2") format("woff2"),
    url("../fonts/TenorSans-Regular.woff") format("woff"),
    url("../fonts/TenorSans-Regular.ttf") format("ttf");
}
