:root {
  --font-main: "Maza", sans-serif;
  --font-second: "Tenor", serif;
  --fz-main: 16px;
  --fz-200: 200px;
  --fz-79: 79px;
  --fz-59: 59px;
  --fz-50: 50px;
  --fz-49: 49px;
  --fz-40: 40px;
  --fz-34: 34px;
  --fz-30: 30px;
  --fz-32: 32px;
  --fz-24: 24px;
  --fz-18: 18px;
  --fz-16: 16px;
  --fz-14: 14px;
  --fz-13: 13px;
  --fz-12: 12px;

  --lh-12: 12px;
  --lh-15: 15px;

  --bdrs-circle: 50%;
  --bdrs-8: 8px;
  --bdrs-6: 6px;
  --bdrs-4: 4px;

  --bg-main-color: #929292;
  --main-color: #343a3f;
  --main-opacity-color: rgba(52, 58, 63, 0.5);
  --main-opacity-second-color: rgba(52, 58, 63, 0.4);
  --white-color: #ffffff;
  --grey-color: #f4f4f4;
  --grey-secong-color: #f3f3f3;
  --grey-third-color: #e8e8e8;
  --grey-bg-hover-color: #d4d9dd;
  --grey-border-color: #d3d3d3;
  --pink-color: #672870;
  --blue-color: #4888ff;
  --blue-hover-color: #3a7bf3;
  --blue-opacity-color: rgba(72, 136, 255, 0.2);
  --blue-opacity-second-color: rgba(72, 136, 255, 0.5);
}
